/*

    Created on : Mar 30, 2016, 9:43:37 AM
    Author     : User
*/

.container{width: 80%; height: 800px;margin-left: 10%;}
.header{background:url("../img/design_banner.jpg") no-repeat; background-size: cover; max-width: 100%; }
.nav{}
.menu{ background-color:  menu; height: 45px; position: relative;}
.nav .menu ul{ list-style: none; margin: 0;}
.nav .menu ul li{ display: inline; }
.nav .menu ul li a{ padding: 5px 20px 10px 20px;border: 1px solid #eee; text-decoration: none;}
.nav .menu ul li a:hover{ background-color: #dcdcdc; }


